@mixin backgroundOpacity {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

$col2: #fff;
$col3: #000;
// Définition des couleurs
$colors: (
  redAlert: (
    #270610,
    #ff3939,
  ),
  blueAlert: (
    #060727,
    #513ccf,
  ),
  greenAlert: (
    #0c2706,
    #59cf3c,
  ),
  yellowAlert: (
    #1f1e02,
    #fff733,
  ),
);

// Mixin pour les alertes
@mixin alertStyle($bg, $border) {
  background-color: $bg;
  padding: 10px 20px;
}

// Boucle à travers chaque couleur et création de la classe alerte
@each $alert, $colors in $colors {
  .#{$alert} {
    @include alertStyle(nth($colors, 2), nth($colors, 1));
    // Modifier le border-radius pour la classe .yellowAlert
    // @if $alert == yellowAlert {
    //   border-radius: 20px;
    // }
  }
}
